.has-float-label {
  @include float-label-container;

  @include float-label {
    top: -.5em;
    left: $padding-base-horizontal;
    z-index: 3;
    line-height: 1;
    padding: 0 1px;

    &::after {
      content: " ";
      display: block;
      position: absolute;
      background: white;
      height: 2px;
      top: 50%;
      left: -.2em;
      right: -.2em;
      z-index: -1;
    }
  }

  .form-control {
    @include float-label-input;

    @include float-label-scaled {
      top: .3em;
      font-weight: normal;
    }
  }
}

.input-group .has-float-label {
  display: table-cell;

  .form-control {
    border-radius: $input-border-radius;
  }

  &:not(:last-child) .form-control {
    @include border-right-radius(0);
  }
  &:not(:first-child) .form-control {
    @include border-left-radius(0);
    margin-left: -1px;
  }
}
